body {color:#000000;background:#999999;font-family:verdana, tahoma, helvetica, serif;font-size:12px;}
a {color:#00355D;text-decoration:none;}
img {border:none;}
img.txt	{float:right;margin-left:10px;}